src/*
.idea*
.vs*
**/Debug/**
GalacticScale.sln.DotSettings.user
DSP_Plugins.GalacticScale/Directory.Build.props
DSP_Plugins.GalacticScale/lib/**
GalacticScale2/Directory.Build.props

GalacticScale2/obj/
packages
UpgradeLog*

TCLI.bat

*.zip
**/obj/*
**/bin/*
DevEnv.targets
GalacticScale2.sln.DotSettings.user
.aider*
.cursor/rules/gs3.mdc
/gsdocs
Assembly-CSharp_publicized.dll
*.bak
/srcOLD
GalacticScale3.csproj.DotSettings
GalacticScale3.csproj.bak
GalacticScale3.csproj.bak
GalacticScale3.sln.DotSettings.user
*.user
/srcNEW
LogOutput.log
