!Directory.Build.props.example


!.gitignore
!README.md
.NETFramework,Version=v4.8.AssemblyAttributes.cs

!*/**/Release/**
bin/
obj/
.vs/GalacticScale/config/applicationhost.config
.vs/GalacticScale/v16/.suo
Directory.Build.props
