
.idea*
.vs*
**/Debug/**
GalacticScale.sln.DotSettings.user
DSP_Plugins.GalacticScale/Directory.Build.props
DSP_Plugins.GalacticScale/lib/**
GalacticScale2/Directory.Build.props

GalacticScale2/obj/
packages
UpgradeLog*

TCLI.bat

*.zip
**/obj/*
DevEnv.targets
GalacticScale2.sln.DotSettings.user
