<Project>
  <PropertyGroup>
    <Plugins_Dir>C:\Users\{username}\AppData\Roaming\r2modmanPlus-local\DysonSphereProgram\profiles\test\BepInEx\plugins\GalacticScale</Plugins_Dir>
    <DSP_Dir>C:\Program Files (x86)\Steam\steamapps\common\Dyson Sphere Program</DSP_Dir>
    <BepInExCore_Dir>C:\Users\{username}\AppData\Roaming\r2modmanPlus-local\DysonSphereProgram\profiles\test\BepInEx\core</BepInExCore>

    <!-- pdb2mdb_Path is optional, needed if you want to enable debugging the modded game. More detailed instructions:

      0. Backup all your stuff.
      1. Install Unity 2018-4-12 from https://unity3d.com/get-unity/download/archive
      2. Copy WindowsPlayer.exe and UnityPlayer.dll from <unity-install-dir>\Editor\Data\PlaybackEngines\windowsstandalonesupport\Variations\win64_development_mono to the game directory. Rename WindowsPlayer.exe to DSPGAME.exe
      3. Copy (and overwrite) all files from <unity-install-dir>\Editor\Data\PlaybackEngines\windowsstandalonesupport\Variations\win64_development_mono\Data\Managed to the game's DSPGAME_Data\Managed folder
      4. Edit the game's DSPGAME_Data\boot.config: add player-connection-debug=1 to the end
      5. Download pdb2mdb from https://gist.github.com/jbevain/ba23149da8369e4a966f#file-pdb2mdb-exe

      That covers initial setup; here's the process to make a debuggable build and launch:
      6. Compile the debug version of the plugin; make sure you're generating .pdb files
      7. Drag your .dll onto pdb2mdb, this should generate a new file in the same folder as your .dll
      8. Copy your .dll and your newly-generated .mdb to your BepInEx plugins directory
      9. Set breakpoints in Visual Studio
      10. In any order: in Visual Studio go to Debug > Attach Unity Debugger; and start the game
      11. Select the game EXE in the Attach Debugger window in Visual Studio

      Derived from https://bepinex.github.io/bepinex_docs/master/articles/advanced/debug/plugins_vs.html#installing-required-tools
      which (at the time) linked through to: https://github.com/dnSpy/dnSpy/wiki/Debugging-Unity-Games#turning-a-release-build-into-a-debug-build
    -->
    <!-- <pdb2mdb_Path>D:\Self-Contained Programs\pdb2mdb</pdb2mdb_Path> -->
  </PropertyGroup>
</Project>
